.container {
    border: 1px solid #ccc;
    width: fit-content;
    padding: 3px;
}

.container > select {
    display: block;
    margin: 3px;
}

.currentPage {
    background-color: #cccccc;
}

.page {
    padding: 2px;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    min-width: 0.7em;
    text-align: center;
}

