.profile > img {
    height: 100px;
    width: 100%;
    box-shadow: #5689d5 0 0 3px 3px;
}

.userProfile {
    font-style: italic;
    margin: 10px;
}

.userProfile > img {
    height: 64px;
    box-shadow: #c2bbaa 0 0 3px 3px;
    margin: 10px;
    border-radius: 20%;
}

.posts {
    margin: 10px;
}

.post {
    margin: 10px;
}

.post > div {
    width: fit-content;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #ff8c0029;
}

.post > pre {
    width: fit-content;
    margin: 0;
    padding: 5px 10px;
    background-color: #7fff0033;
}
