.navbar {
    background-color: chartreuse;
    grid-area: n;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.navbar a {
    text-decoration: none;
    border: solid 1px #fd8b00;
    border-radius: 3px;
    padding: 2px 10px;
    margin: 2px;
    text-align: center;
    color: #713c00;
    text-transform: uppercase;
}

.navbar a:hover {
    border: solid 1px darkslateblue;
}

.active {
    background-color: #fd8b00;
}